html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
    border: 1px solid gray;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing:border-box; /*only be as big as the width I've given, if I give you padding or I give you a border apply it within your width not in addition to it*/
    border:1px solid grey;
    max-width:100%; /*You can never be bigger than your parent*/
}
/*General Styles*/
html{
    font-size:62.5%;
}
body{
    font-size:1.6rem;
    line-height:1.5; /*no unit of measurement here*/
    font-family: 'Roboto Mono', monospace;
}
h1{
    font-family: 'Chelsea Market', cursive;
    font-size:6rem;
}
a{
    text-decoration:none;
}
section{
    padding:4% 0;
}
 a{
    border-radius: 10px;
    color: white;
    display: inline-block;
    margin: 0 30px;
    text-align: center;
    min-width: 10%;
    max-width: 100%;
    padding: 1% 0;
}
nav a{
    text-decoration: none;
   
}
section{
    padding: 4% 0;
}
.plan {
    background-color: #FF764E;
}
.learn {
    background-color: #5ED3EB;
}.get  {
    background-color: #FFCD69;
    
}
#portada img{
    
   width: 30%;
    border-radius:50% ;
   padding: 10px  ;
   margin-right: 9%;
   max-width: 40%;
   max-height: 30%;
}

.tittle h1{
    display: inline;
padding: 35%;
position: relative;
bottom: 200px;

}
.tittle p{
    display: inline;
    width: 80%;
    position: relative;
}
#footer{
    background-image:url("assets/footer_img.jpg");
   height: 40vh;
   background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
#texts{
    background-color:burlywood ;
}
.colors p{
    text-align: justify;
}
footer, header{
    background-color: #F9E7DC;
}